.container {
  max-width: 800px;
  margin: 0 auto;
}

.output {
  display: inline-block;
  width: 30%;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.translate-text {
  min-height: 60px;
}
